@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

#open {
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 100;
    cursor: pointer;
}

/* Modal  */
button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    z-index: 100;
    cursor: pointer;
}

#open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;

}

button:hover {
    background-color: #2c775f;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal h2 {
    margin: 0;
    font-size: 16px;
}
.modal h3{
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.modal p {
    opacity: 0.7;
    font-size: 12px;
}

.multi-flower {
    position: relative;
}

.multi-flower-2 {
    position: absolute;
    margin-top: 200PX;
}

.multi-flower-3 {
    position: absolute;
    margin-top: 400PX;
}

.multi-flower-4 {
    position: absolute;
    margin-top: 600PX;
}

.container {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
}

.container-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 200px;
}

.container-3 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 400px;
}

.container-4 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 600px;
}

.container-5 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 800px;
}

.container-6 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 1000px;
}

.container-7 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #16a078;
    display: grid;
    place-items: center;
    margin-left: 1200px;
}

.flower {
    width: 25px;
    height: 25px;
    animation: giro 4s linear infinite;
}

.leaf {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 2px 50px;
    opacity: 0.8;
    box-shadow: -2.5px 2.5px 1px rgba(0, 0, 0, 0.051);
}

.dot {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-color: #342c0e;
    border-radius: 50%;
    animation: dot 4s ease-in-out infinite;
}

.leaf-0 {
    transform: rotate(0deg) translate(-35px, -35px) scale(2);
}

.leaf-1 {
    transform: rotate(22.5deg) translate(-35px, -35px) scale(2);
}

.leaf-2 {
    transform: rotate(45deg) translate(-35px, -35px) scale(2);
}

.leaf-3 {
    transform: rotate(67.5deg) translate(-35px, -35px) scale(2);
}

.leaf-4 {
    transform: rotate(90deg) translate(-35px, -35px) scale(2);
}

.leaf-5 {
    transform: rotate(112.5deg) translate(-35px, -35px) scale(2);
}

.leaf-6 {
    transform: rotate(135deg) translate(-35px, -35px) scale(2);
}

.leaf-7 {
    transform: rotate(157.5deg) translate(-35px, -35px) scale(2);
}

.leaf-8 {
    transform: rotate(180deg) translate(-35px, -35px) scale(2);
}

.leaf-9 {
    transform: rotate(202.5deg) translate(-35px, -35px) scale(2);
}

.leaf-10 {
    transform: rotate(225deg) translate(-35px, -35px) scale(2);
}

.leaf-11 {
    transform: rotate(247.5deg) translate(-35px, -35px) scale(2);
}

.leaf-12 {
    transform: rotate(270deg) translate(-35px, -35px) scale(2);
}

.leaf-13 {
    transform: rotate(292.5deg) translate(-35px, -35px) scale(2);
}

.leaf-14 {
    transform: rotate(315deg) translate(-35px, -35px) scale(2);
}

.leaf-15 {
    transform: rotate(337.5deg) translate(-35px, -35px) scale(2);
}

@keyframes giro {
    0% {
        transform: scale(0) translate(-35px, -35px);
    }

    30% {
        transform: scale(1) rotate(50deg);
    }

    70% {
        transform: scale(1) rotate(100deg);
    }

    80% {
        transform: scale(1) rotate(180deg);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes dot {

    0%,
    12% {
        transform: scale(0);
    }

    20% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(0.95);
    }

    30%,
    55% {
        transform: scale(1);
    }

    58% {
        transform: scale(1.1);
    }

    70%,
    100% {
        transform: scale(0);
    }
}